[Desktop Entry]
Version=1.1u
Encoding=UTF-8
Name=olex2
Categories=Engineering;
Comment=Version 1.1u
Comment[xx]=xxVersion 1.1uxx
DocPath=olex/index.html
Exec=OLEX2BINPATH
GenericName=Crystallography GUI
Icon=OLEX2PATH/olex2.xpm
Name[xx]=xxolex2xx
Trminal=true
Type=Application
GenericName[en_GB]=Crystallography GUI
