
[Desktop Entry]
Type=Application
Name=olex2
Comment="Olex2 is visualisation software for small-molecule crystallography"
TryExec=/usr/bin/olex2
Exec=/usr/bin/olex2
Icon=olex2.xpm
MimeType=image/x-foo;
Categories=Engineering;Education;Application;
GenericName=Crystallography GUI
X-Trminal=true
X-Desktop-File-Install-Version=0.13
